ul {
  list-style: none;
}

body {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.logo {
  display: flex;
}

.logo img {
  width: 120px;
  height: 40px;
}

.main-view img {
  width: 100%;
  height: 600px;
}

.icon img {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  margin-right: 30px;
}

.item img {
  width: 270px;
  height: 180px;
}

header {
  margin: 0 auto;
  width: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  float: left;
  margin-right: 35px;
  font-size: 14px;
}

header nav ul li:hover {
  opacity: 0.6;
}

header nav ul {
  display: flex;
}

main {
  margin: 0 auto 100px auto;
  max-width: 900px;
}

section {
  margin: 0 auto;
  text-align: center;
}

.about {
  max-width: 530px;
  margin-bottom: 80px;
}

section h2 {
  font-size: 32px;
  display: inline-block;
  border-bottom: solid 1px black;
  margin-bottom: 50px;
}

.about-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-title {
  margin-bottom: 8px;
}

.about-text {
  text-align: left;
  font-size: 14px;
}

.bicycle-contents {
  display: flex;
  justify-content: center;
}

.item {
  margin-right: 20px;
}

.item h3 {
  font-size: 16px;
  margin-top: 10px;
}

.item p {
  font-size: 14px;
  margin-top: 8px;
}

footer {
  font-size: 10px;
  text-align: center;
}
